/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 75%;
  height: 497px;
  background: url('../../../content/images/carRepairWoman.jpeg') no-repeat center top;
  background-size: contain;
}
